<body _ngcontent-c1>
    <header class="header">
        <nav class="navbar">
         
          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->
              <div class="navbar-header">
                <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
                  <div class="brand-text d-none d-lg-inline-block"><span>核销</span><strong>系统</strong></div>
                  </a>
               
              </div>
              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Notifications-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell-o"></i><span class="badge bg-red badge-corner">12</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-envelope bg-green"></i>You have 6 new messages </div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-upload bg-orange"></i>Server Rebooted</div>
                          <div class="notification-time"><small>4 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> 
                        <div class="notification">
                          <div class="notification-content"><i class="fa fa-twitter bg-blue"></i>You have 2 followers</div>
                          <div class="notification-time"><small>10 minutes ago</small></div>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view all notifications                                            </strong></a></li>
                  </ul>
                </li>
                <!-- Messages                        -->
                <li class="nav-item dropdown"> <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope-o"></i><span class="badge bg-orange badge-corner">10</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="./assets/cite/img/lufei.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Jason Doe</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="./assets/cite/img/lufei.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Frank Williams</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item d-flex"> 
                        <div class="msg-profile"> <img src="./assets/cite/img/lufei.jpg" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="msg-body">
                          <h3 class="h5">Ashley Wood</h3><span>Sent You Message</span>
                        </div></a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read all messages   </strong></a></li>
                  </ul>
                </li>
                <!-- Languages dropdown    -->
                <li class="nav-item dropdown"><a id="languages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link language dropdown-toggle"><img src="./assets/cite/img/flags/16/GB.png" alt="English"><span class="d-none d-sm-inline-block">English</span></a>
                  <ul aria-labelledby="languages" class="dropdown-menu">
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="./assets/cite/img/flags/16/DE.png" alt="English" class="mr-2">German</a></li>
                    <li><a rel="nofollow" href="#" class="dropdown-item"> <img src="./assets/cite/img/flags/16/FR.png" alt="English" class="mr-2">French                                         </a></li>
                  </ul>
                </li>
                <!-- Logout    -->
                <li class="nav-item"><a href="login.html" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fa fa-sign-out"></i></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>



      <div class="page-content d-flex align-items-stretch"> 
          <!-- Side Navbar -->
          <nav class="side-navbar ">
              <!-- Sidebar Header-->
              <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="./assets/cite/img/lufei.jpg" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                  <h1 class="h4">路飞</h1>
                  <p>海贼王</p>
                </div>
              </div>
              <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
              <ul class="list-unstyled">
                        <li id="HomePageLeft" class="active"><a  href="javascript:void(0);" (click)="jumpTagHome('/HomePage','HomePageLeft')" > <i class="fa fa-fw fa-home"></i>home </a></li>
                        <li id="IframePageLeft" ><a  href="javascript:void(0);" (click)="JumpPage('/IframePage','导航的第一个内容页面','IframePageLeft')" > <i class="fa fa-fw fa-adjust"></i>导航的第一个内容页面 </a></li>
                        <li id="GenerateJournalEntryListLeft"><a  href="javascript:void(0);" (click)="JumpPage('/GenerateJournalEntryList','导航的第二个内容页面','GenerateJournalEntryListLeft')" > <i class="fa fa-fw fa-folder"></i>导航的第二个内容页面 </a></li>
                        <li><a href="javascript:void(0);" > <i class="fa fa-bar-chart"></i>导航的第三个内容页面 </a></li>

                        <li><a href="javascript:void(0);"> <i class="fa fa-fw fa-file-o"></i>导航的第四个内容页面 </a></li>
                        <li><a id="firstDDR" href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
                           <i class="fa fa-fw fa-cog"></i>下拉列表</a>
                          <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                              <!-- Dropdown 以Ddr+名字命名 -->
                              <li id="DdrNavPageLeft" ><a  href="javascript:void(0);" (click)="JumpPage('/DdrNavPage','第一个ddr','DdrNavPageLeft')" > 第一个 </a></li>
                            <li><a href="javascript:void(0);">第二个</a></li>
                            <li><a href="javascript:void(0);">第三个</a></li>
                          </ul>
                        </li>
                        <li><a href="login.html"> <i class="fa fa-fw fa-plus"></i>Login page </a></li>
              </ul>
              <span class="heading">Extras</span>
              <ul class="list-unstyled">
                  <!-- <li id="IframePageLeft" ><a  href="javascript:void(0);" (click)="JumpPage('/IframePage','导航的第一个内容页面','IframePageLeft')" > <i class="fa fa-fw fa-home"></i>导航的第一个内容页面 </a></li> -->
                  <li *ngFor="let item of jsonNavList" id="{{item.liId}}" > 
                    <a   href="javascript:void(0);" (click)="JumpPage(item.urlName,item.navigationName,item.liId)" > <i class="{{item.iconClass}}"></i>{{item.navigationName}} </a>
                  </li>

                </ul>

            
            </nav>

         

            <div class="content-inners">
                <!-- Page Header-->
                <header class="page-header">

                <!-- Page Header Navbar-->
                <ul class="nav nav-tabs black" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="HomePageHead" data-toggle="tab" href="" (click)="jumpTagHome('/HomePage','HomePageHead')">HOME</a>
                      </li>
                  <li class="nav-item" *ngFor="let item of listPagejump" (click)="jumpTag(item)">
                      <a class="{{item.defClass}}" id="{{item.headHerfName}}" data-toggle="tab" href="#menu2">{{item.pageTitle}} &nbsp;   <span (click)="delTag(item)" class="badge badge-pill badge-danger">X</span></a>
                  </li>
                </ul>
                </header>
            <!--iframe-->
             <div class="embed-responsive embed-responsive-16by9" >
                <iframe class="embed-responsive-item" id="contentIframe" src="/HomePage" allowfullscreen ></iframe>
              </div>
                <!-- Page Footer-->
                <footer class="main-footer">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6">
                        <p>Your company © 2017-2019</p>
                      </div>
                      <div class="col-sm-6 text-right">
                        <p>核销系统</p>
                        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                      </div>
                    </div>
                  </div>
                </footer>
              </div>

        </div>

</body>